shell-emulator=true # https://pnpm.io/cli/run#shell-emulator
shamefully-hoist=true # https://pnpm.io/npmrc#shamefully-hoist
auto-install-peers=true # https://pnpm.io/npmrc#auto-install-peers

# Huawei Intranet Configuration
# strict-ssl = true
# registry = "http://npm.inhuawei.com/"
# @huawei:registry = "http://npm.inhuawei.com/"
# noproxy = [".inhuawei.com,.huawei.com"]
